.heading-fix {
  margin: 0 5px;
}

svg[id*='lgi-']{
  margin-top: 1vh;
}

.list-text {
  padding: 0px;
  margin: 0px;
}

.list-item {
  border: none;
  border-bottom: 1px solid #ccc;
}

.collapse-items {
  margin-top: 1vh;
}
